.kategory {

    //----------HEADING-CAT----------//
    .heading-cat {
        .name-cat {
            h3 {
                color: #fff;
                margin: 0px;
                padding: 3px 0px;
            }
        }
        .favorite {
            button {
                i {
                    color: #fff;
                }
                background-color: transparent;
            }
            button:hover {
                i {
                    color: $cream;
                }
            }
        }
        height: 50px;
        background-color: $black;
        padding: 10px 15px;
        margin-bottom: 10px;
    }

    //----------CONTENT-CAT----------//
    .content-cat {
        //----------CONTENT-LEFT----------//
        .content-left {
            .wr-content-left {
                background-color: #fff;
                box-shadow: $shadow-box;
            }
            .wr-content-left:hover {
                box-shadow: $shadow-artikel;
            }
            .artikel {
                .image {
                    img {
                        height: 170px;
                    }
                    padding-left: 0px;
                    padding-right: 5px;
                }
                .title {
                    a:hover {
                        text-decoration: none;
                        text-shadow: $shadow-text;
                    }
                    h3 {
                        margin-top: 0px;
                        color: $black;
                    }
                    span {
                        color: $grey;
                        font-size: 12px;
                    }
                    p {
                        color: $black;
                    }
                    padding-right: 0px;
                    padding-left: 5px;
                }
                padding: 10px 15px;
                border-bottom: 3px dotted $cream;
                margin-bottom: 10px;
            }
            padding-left: 0px;
            padding-right: 5px;
        }
        //----------CONTENT-RIGHT----------//
        .content-right {
            #sidebar-1, #sidebar-2, #sidebar-3, #sidebar-4 {
                border-top: 5px solid $grey;
                border-bottom: 5px solid rgba(41, 42, 50, .5);
            }
            .sidebar-adv:hover, .artikel:hover {
                box-shadow: $shadow-artikel;
            }
            .sidebar-adv {
                .wrapper-adv {
                    padding: 13px 7px;
                }
                margin-bottom: 10px;
                background-color: #fff;
                box-shadow: $shadow-box;
            }

            .artikel {
                img {
                    height: 176.867px;
                }
                .title-artikel {
                    .heading-artikel {
                        a:hover {
                            text-decoration: none;
                            text-shadow: $shadow-text;
                        }
                        h3 {
                            margin: 0px;
                            color: $black;
                        }
                        margin: 20px 0px;
                        height: 79px;
                    }
                    .footer-artikel {
                        color: $grey;
                    }
                        padding: 0px 10px;
                }
                background-color: #fff;
                margin-bottom: 10px;
                box-shadow: $shadow-box;
            }
            padding-right: 0px;
            padding-left: 5px;
        }
    }
}