//----------SINGLE-PAGE----------//
.single-page {

    //----------CONTENT-SINGLE-PAGE----------//
    .content-single-page {
        //----------ARTIKEL-FULL----------//
        .artikel-full {
            padding-left: 0px;
            padding-right: 5px;
        }
        .wr-artikel-full {
            .sumber-view {
                p {
                    color: $grey;
                }
                a {
                    color: $cream;
                }
                .badge {
                    background-color: $cream;
                }
            }
            .image {
                img {
                    width: 100%;
                }
            }
            .date-type {
                span {
                    color: $grey;
                    font-size: 12px;
                }
                margin-bottom: 5px;
            }
            padding: 10px 15px;
            background-color: #fff;
            box-shadow: $shadow-box;
        }
        .wr-artikel-full:hover {
            box-shadow: $shadow-artikel;
        }

        //----------SIDEBAR-ADV----------//
        .sidebar-adv {
            padding-left: 5px;
            padding-right: 0px;
        }
        .advertise {
            .wrapper-adv {
                padding: 13px 7px;
            }
            background-color: #fff;
            margin-bottom: 10px;
            box-shadow: $shadow-box;
            border-top: 5px solid $grey;
            border-bottom: 5px solid rgba(41, 42, 50, .5);
        }
        .advertise:hover {
            box-shadow: $shadow-artikel;
        }
        margin-bottom: 10px;
    }

    //----------COMMENT----------//
    .comment {
        background-color: #fff;
        padding: 10px 15px;
        margin-bottom: 10px;
    }
    .comment:hover {
        box-shadow: $shadow-artikel;
    }
    .wr-comment {
        //----------HEADING-COMMENT----------//
        .heading-comment {
            .navbar-default {
                background-color: #fff;
            }
            .navbar {
                border: none;
                margin-bottom: 0px;
            }
            .navbar-header {
                h4 {
                    margin: 15px 0px;
                }
                .badge {
                    background-color: $cream;
                    color: #FFF;
                }
                height: 50px;
            }
            .navbar-default .navbar-nav > li > a.active {
                background-color: $cream;
                color: #fff;
                border-radius: 5px;
            }
            .navbar-default .navbar-nav > li > a {
                color: $black;
            }
            .navbar-default .navbar-nav > li > a:hover {
                background-color: $cream;
                border-radius: 5px;
                color: #fff;
            }
            border-bottom: 3px solid $black;
            margin-bottom: 20px;
        }
        //----------INPUT-COMMENT----------//
        .input-comment {
            margin-bottom: 20px;
        }
        //----------COMMENTS-CONTAINER----------//
        .comments-container {
            h1 {
                a {
                    font-size: 18px;
	                font-weight: 700;
                }
                font-size: 36px;
                color: #283035;
                font-weight: 400;
            }
            .comments-list {
                li {
                    margin-bottom: 15px;
                    display: block;
                    position: relative;
                }
                li:after {
                       content: '';
                    display: block;
                    clear: both;
                    height: 0;
                    width: 0;
                }
                position: relative;
                padding-left: 0px;
            }
            .comments-list:before {
                content: '';
                width: 2px;
                height: 100%;
                background: #c7cacb;
                position: absolute;
                left: 30px;;
                top: 0;
            }
            .comments-list:after {
                content: '';
                position: absolute;
                background: #c7cacb;
                bottom: 0;
                left: 27px;
                width: 7px;
                height: 7px;
                border: 3px solid #dee1e3;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
            .comments-list .comment-avatar {
                width: 65px;
                height: 65px;
                position: relative;
                z-index: 99;
                float: left;
                border: 3px solid #FFF;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
                box-shadow: 0 1px 2px rgba(0,0,0,0.2);
                overflow: hidden;
            }
            .comments-list .comment-avatar img {
                width: 100%;
                height: 100%;
            }
            .comment-main-level:after {
                content: '';
                width: 0;
                height: 0;
                display: block;
                clear: both;
            }
            .comments-list .comment-box {
                width: 838px;
                float: right;
                position: relative;
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
                -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
                box-shadow: 0 1px 1px rgba(0,0,0,0.15);
            }
            .comments-list .comment-box:before, .comments-list .comment-box:after {
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                display: block;
                border-width: 10px 12px 10px 0;
                border-style: solid;
                border-color: transparent #FCFCFC;
                top: 8px;
                left: -11px;
            }
            .comments-list .comment-box:before {
                border-width: 11px 13px 11px 0;
                border-color: transparent rgba(0,0,0,0.05);
                left: -12px;
            }
            .reply-list .comment-box {
                width: 765px;;
            }
            .comment-box .comment-head {
                background: #FCFCFC;
                padding: 10px 12px;
                border-bottom: 1px solid #E5E5E5;
                overflow: hidden;
                -webkit-border-radius: 4px 4px 0 0;
                -moz-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0;
            }
            .comment-box .comment-head i {
                float: right;
                margin-left: 14px;
                position: relative;
                top: 2px;
                color: #A6A6A6;
                cursor: pointer;
                -webkit-transition: color 0.3s ease;
                -o-transition: color 0.3s ease;
                transition: color 0.3s ease;
            }
            .comment-box .comment-head i:hover {
                color: #03658c;
            }
            .comment-box .comment-name {
                color: $black;
                font-size: 14px;
                font-weight: 700;
                float: left;
                margin-right: 10px;
            }
            .comment-box .comment-name a {
                color: #283035;
            }
            .comment-box .comment-head span {
                float: left;
                color: #999;
                font-size: 13px;
                position: relative;
                top: 1px;
            }
            .comment-box .comment-content {
                background: #FFF;
                padding: 12px;
                font-size: 15px;
                color: #595959;
                -webkit-border-radius: 0 0 4px 4px;
                -moz-border-radius: 0 0 4px 4px;
                border-radius: 0 0 4px 4px;
            }
            .comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: $black;}
            .comment-box .comment-name.by-author:after {
                content: 'autor';
                background: $cream;
                color: #FFF;
                font-size: 12px;
                padding: 3px 5px;
                font-weight: 700;
                margin-left: 10px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            .reply-list .comment-avatar {
                width: 50px;
                height: 50px;
            }
            .reply-list {
                padding-left: 88px;
                clear: both;
                margin-top: 15px;
            }
            .reply-list:before, .reply-list:after {display: none;}
            .reply-list li:before {
                content: '';
                width: 60px;
                height: 2px;
                background: #c7cacb;
                position: absolute;
                top: 25px;
                left: -55px;
            }
        }
    }
}